/* Register page */
* {
    font-family: Roboto;
}
.ai-register-form {
    height: calc(100% - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ai-register-form>div {
    width: 28%;
}

.ai-form {
    width: 100%;
}

.ai-input {
    width: 100%;
    height: 49px;
    margin-bottom: 30px;
}

.ai-input input, .ai-input-btn {
    border: none;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 14px 17px;
}

.ai-margin-6 {
    margin-bottom: 6px;
}

.ai-input-btn {
    background-color: #1C1C1C;
    color: #ffffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    padding: 0;
    cursor: pointer;
}

.ai-input input::-webkit-input-placeholder {
    /* Edge */
    color: #5C5C5C;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
}

.ai-input input:-ms-input-placeholder {
    /* Internet Explorer */
    color: #5C5C5C;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
}

.ai-input input::placeholder {
    color: #5C5C5C;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
}

.ai-signup-label {
    margin-bottom: 28px;
    font-family: Roboto;
    font-size: 36px;
    text-align: center;
}

.ai-or-label {
    font-family: Roboto;
    text-align: center;
    margin-bottom: 18px;
}

.ai-google-signin {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ai-google-signin span {
    color: #5C5C5C;
    font-size: 18px;
    font-family: Roboto;
    font-weight: normal;
    margin-left: 6px;
}

.ai-google-signin img {
    margin-right: 6px;
}

.ai-text-align-center {
    text-align: center;
}

.ai-account, .ai-signin, .ai-terms p, .ai-a {
    font-size: 14px;
    font-family: Roboto;
    color: #000000;
    margin-bottom: 12px;
    outline: none;
}

.ai-terms p {
    color: #7A7A7A;
}

.ai-footer-links {
    position: absolute;
    bottom: 20px;
}

.ai-footer-links span {
    color: #000000;
}

.ai-footer-links span:nth-child(1), .ai-footer-links span:nth-child(2) {
    margin-right: 12px;
}

.ai-a {
    outline: none;
}

.ai-font-10 {
    font-size: 10px;
}

.ai-font-13 {
    font-size: 13px;
}

.ai-font-light {
    color: #5C5C5C;
}

.ai-margin--10 {
    margin-top: -10px;
}

/* Login */
.ai-login-footer {
    position: relative;
    bottom: 0;
}

@media(max-width: 768px) {
    .ai-register-form>div {
        width: 90%;
    }
}