.ai-layout-bg {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}

.ai-navbar {
    display: flex;
    height: 75px;
    padding: 6px 15px;
}

.ai-nav-links {
    display: flex;
    align-items: center;
}

.ai-label {
    margin-left: 5px;
}

.ai-logo {
    margin-right: 6px;
}

.ai-error {
    border: 1px solid red !important;
}

.ai-error-font {
    color: red;
}

@media(min-width: 768px) {
    .ai-layout-bg {
        background-image: url("../assets/background.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
}